.todo-item {
    display: flex;
    gap: 0.125rem;
    align-items: center;

    &.deleted {
        display: none;
    }

    .checkbox {
        cursor: pointer;

        &:checked + .label {
            text-decoration: line-through;
            color: $dark-grey50;
        }
    }

    .label {
        cursor: pointer;
        color: $dark-grey100;
    }

    .icon {
        opacity: 0;
        margin-left: 0.25rem;
        cursor: pointer;
    }

    &:hover > .icon {
        opacity: 1;
    }
}